@import '../data//styles.scss';

.table__nav{
    display: flex;
    justify-content: space-around;
    padding-right: 100px;
    padding-bottom: 50px;
  
}
.table{
    text-align: $center;
}
.table__cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

